<h3>Information zur Kategorie Discord:</h3>
<h2>Discord ist eine App (oder Website), welche zur Kommunikation dient sich aber doch etwas von vergleichbaren Softwares wie zb. WhatsApp unterscheidet.</h2>
<p>Discord ist für Gaming optimiert dh., dass es zb. viele Server (zu den Servern kommen wir später) für Gaming gibt und auch die Community grötenteils selber zockt.</p>
<p>In Discord gibt es Privatnachrichten, Gruppenchats und Server die Privatchats unterscheiden sich eigentlich nicht von anderen Apps die Gruppenchats sind auch eher "standart" doch mit den Servern hat Discord auch eine  </p>
